*{
    margin: 0;
    padding: 0;
    background: orangered;
}

.main-div {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* align-items: center; */
    /* margin-top: auto; */
    padding: 12%;
}

.child-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 1080px;
    height: 450px;
    border-radius: 15px;
}

.child-div input {
    margin: 50px;
    border: none;
    padding: 20px;
    color: black;
    background-color: aquamarine;
    font-size: medium;
    border-radius: 6px;
}